<a href="https://colab.research.google.com/github/BattlePlot/Portfolio_Personal/blob/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/problem_0201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Quiz #0201

In [1]:
import pandas as pd
import os

#### Read in the data.

In [3]:
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_studentlist.csv

--2022-01-26 17:14:37--  https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_studentlist.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674 [text/plain]
Saving to: ‘data_studentlist.csv’

data_studentlist.cs 100%[===================>]     674  --.-KB/s    in 0s

2022-01-26 17:14:37 (21.9 MB/s) - ‘data_studentlist.csv’ saved [674/674]

In [4]:
df = pd.read_csv('data_studentlist.csv', header='infer')

In [5]:
df.head(5)

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

#### Answer the following questions using Pandas library.

1). Average height of the male students:

In [28]:
df[df.gender=='M']['height'].mean()

172.41

2). Average height of the male students:

In [27]:
df[df.gender=='M']['height'].mean()

172.41

3). Average weight of the male students:

In [26]:
df[df.gender=='M']['weight'].mean()

68.50000000000001

4). Average weight of the female students:

In [25]:
df[df.gender=='F']['weight'].mean()

50.44285714285714

5). The tallest height among the male students:

In [21]:
df[df.gender=='M']['height'].max()

182.1

6). The shortest height among the female students:

In [22]:
df[df.gender=='F']['height'].min()

155.2

7). The lightest weight among the male students of height taller than 175cm:

In [18]:
df[(df.gender=='F')&(df.height>175)]['weight'].min()

53.1

8). The heaviest weight among the female students of height shorter than 160cm:

In [29]:
df[(df.gender=='F')&(df.height<160)]['weight'].max()

45.3

9). The average grade of students without absence ('N'):

In [31]:
df[(df.absence=='N')]['grade'].mean()

2.076923076923077

10). The average grade of students with absence ('Y'):

In [33]:
df[(df.absence=='Y')]['grade'].mean()

3.0

11). Average height of the students with blood type 'A' or 'AB':

In [35]:
df[(df.bloodtype=='A')|(df.bloodtype=='AB')]['height'].mean()

172.64285714285714

12). Average height of the **male** students with blood type 'A' or 'AB':

In [36]:
df[((df.bloodtype=='A')|(df.bloodtype=='AB'))&(df.gender=='M')]['height'].mean()

173.375

13). Average age of the students with absence ('Y') whose grade is equal or larger than 3:

In [37]:
df[(df.absence=='Y')&(df.grade>=3)]['age'].mean()

23.666666666666668