<a href="https://colab.research.google.com/github/BattlePlot/Portfolio_Personal/blob/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/problem_0202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Quiz #0202

In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [2]:
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_census.csv

--2022-01-26 17:32:39--  https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_census.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9285 (9.1K) [text/plain]
Saving to: ‘data_census.csv’

data_census.csv     100%[===================>]   9.07K  --.-KB/s    in 0s

2022-01-26 17:32:39 (46.1 MB/s) - ‘data_census.csv’ saved [9285/9285]

In [3]:
df = pd.read_csv('data_census.csv', header='infer')

In [4]:
df.shape

(281, 6)

In [5]:
df.head(10)

   ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
0           109      1001  ...              2.40         0.97
1           109      1188  ...              2.14         0.98
2           109      1189  ...              2.13         1.00
3           109      1158  ...              2.17         0.94
4           109      1105  ...              2.35         0.99
5           109      1032  ...              2.28         0.97
6           109      1065  ...              2.26         1.01
7           109      1190  ...              2.36         1.00
8           109      1106  ...              2.41         0.96
9           109      1006  ...              2.36         0.97

[10 rows x 6 columns]

#### Answer the following questions using Pandas library.

1). Total population of ProvinceCode equal to 115 and 116:

In [13]:
print(df[(df.ProvinceCode==115)]['Population'].sum())
print(df[(df.ProvinceCode==116)]['Population'].sum())

1230500
4739827

2). Average population of the cities where there are more males (GenderRatio >1):

In [14]:
df[(df.GenderRatio>1)]['Population'].mean()

419221.2076923077

3). Places with more males  (GenderRatio >1) and less than 2 persons per household:

In [17]:
df[(df.GenderRatio>1)&(df.PersonsHousehold<2)]

     ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
62            112      1155  ...              1.86         1.29
149           101      1240  ...              1.99         1.27
152           101      1017  ...              1.94         1.15
167           117      1033  ...              1.99         1.03
227           113      1120  ...              1.96         1.11
253           104      1163  ...              1.92         1.15

[6 rows x 6 columns]

4). Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

In [23]:
df.sort_values(by='Households').head(10)

     ProvinceCode  CityCode  ...  PersonsHousehold  GenderRatio
253           104      1163  ...              1.92         1.15
244           104      1147  ...              2.05         0.97
200           114      1179  ...              2.14         0.98
150           101      1130  ...              2.18         1.17
62            112      1155  ...              1.86         1.29
199           114      1073  ...              2.15         0.98
241           104      1039  ...              1.99         1.00
213           113      1034  ...              2.18         0.95
198           114      1193  ...              2.10         1.00
243           104      1208  ...              1.99         0.98

[10 rows x 6 columns]