<a href="https://colab.research.google.com/github/BattlePlot/Portfolio_Personal/blob/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/problem_0203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Quiz #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [2]:
!wget --no-clobber https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_sales.csv

--2022-01-26 17:43:53--  https://raw.githubusercontent.com/stefannae/SIC-Artificial-Intelligence/main/SIC_AI_Quizzes/SIC_AI_Chapter_03_Quiz/data_sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1766 (1.7K) [text/plain]
Saving to: ‘data_sales.csv’

data_sales.csv      100%[===================>]   1.72K  --.-KB/s    in 0s

2022-01-26 17:43:54 (26.0 MB/s) - ‘data_sales.csv’ saved [1766/1766]

In [3]:
df = pd.read_csv('data_sales.csv', header='infer')

In [4]:
df.shape

(43, 5)

In [5]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Answer the following questions.

1). Append a new variable $Amount = UnitPric \times Units$.

In [6]:
df['Amount']=df['UnitPrice']*df['Units']

In [7]:
df.head(5)

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Average unit price for each region. Use the groupby() method.

In [8]:
df.groupby('Region')['UnitPrice'].mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

3). Average unit price for each region. Use the pivot_table() method.

In [18]:
pd.pivot_table(df,index='Region',values='UnitPrice',aggfunc=np.mean)

         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

4). Average unit price and units for each region in one code sentence. Use the groupby() method.

In [19]:
df.groupby('Region')['UnitPrice'].mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

5). Average unit price and units for each region in one code sentence. Use the pivot_table() method.

In [20]:
pd.pivot_table(df,index='Region',values=['UnitPrice','Units'],aggfunc=np.mean)

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

6). Total units for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [48]:
pd.pivot_table(df,index='Region',columns='Item',values='Units',aggfunc=np.sum,fill_value=0)

Item     Binder  Desk  Pen  Pen Set  Pencil
Region
Central     424     7   27      243     498
East        234     0  175      152     130
West         64     3   76        0      88

7). Total sales amount for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [50]:
pd.pivot_table(df,index='Region',columns='Item',values='Amount',aggfunc=np.sum,fill_value=0)

Item      Binder  Desk      Pen  Pen Set   Pencil
Region
Central  5762.63   875   539.73  2421.39  1540.32
East     2535.66     0  1354.25  1748.48   363.70
West     1279.36   825   151.24     0.00   231.12