<a href="https://colab.research.google.com/github/BattlePlot/Portfolio_Personal/blob/main/SIC_AI_Coding_Exercises/SIC_AI_Chapter_07_Coding_Exercises/ex_0603.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Coding Exercise #0603

In [1]:
import re

### 1. Regular expressions (groups):

#### 1.1. Some examples of group:

In [2]:
reg_ex = re.compile("([0-9]+)")
m = reg_ex.search("I am 22 years old. She is 20 years old.")
print(m.group(1))

22

In [3]:
reg_ex = re.compile("([0-9]+)[^0-9]+([0-9]+)")
m = reg_ex.search("I am 22 years old. She is 20 years old.")
print(m.group(1))
print(m.group(2))

22
20

In [4]:
reg_ex = re.compile("([^0-9]+)([0-9]+)[^0-9]+([0-9]+)[^0-9]+([0-9]+)")
m = reg_ex.search("John Wheeler 010-1234-5678")
print((m.group(1)).strip())
print(m.group(2))
print(m.group(3))
print(m.group(4))

John Wheeler
010
1234
5678

#### 1.2. Some exaples of group with shorthand expression:
\d   =   [0-9]  <br>
\D    =  [^0-9]  <br>
\w   =   [0-9a-zA-Z_]  <br>
\W    =  [^0-9a-zA-Z_]  <br>

In [5]:
reg_ex = re.compile("(\d+)")
m = reg_ex.search("I am 22 years old. She is 20 years old.")
print(m.group(1))

22

In [7]:
reg_ex = re.compile("(\d+)\D+(\d+)")
m = reg_ex.search("I am 22 years old. She is 20 years old.")
print(m.group(1))
print(m.group(2))

22
20

In [8]:
reg_ex = re.compile("(\D+)(\d+)\D+(\d+)\D+(\d+)")
m = reg_ex.search("John Wheeler 010-1234-5678")
print((m.group(1)).strip())
print(m.group(2))
print(m.group(3))
print(m.group(4))

John Wheeler
010
1234
5678

In [11]:
# Hide the phone number.
reg_ex = re.compile("(\D+)(\d+)\D+(\d+)\D+(\d+)")
m = reg_ex.search("John Wheeler 010-1234-5678")
print((m.group(1)).strip() + " " + m.group(2) + "-****-****")
print(f"{(m.group(1)).strip()} {m.group(2)}-****-****")

John Wheeler 010-****-****
John Wheeler 010-****-****

In [13]:
# Extract only the phone number.
reg_ex = re.compile("(\D+)((\d+)\D+(\d+)\D+(\d+))")
m = reg_ex.search("John Wheeler 010-1234-5678")
print("PHONE : " + m.group(2))
print(f"PHONE : {m.group(2)}")

PHONE : 010-1234-5678
PHONE : 010-1234-5678